@keyframes blink {
	0% {
		opacity: .2;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: .2;
	}
}

@keyframes spin {
	from {
		transform: rotate( 0deg );
	}
	
	to {
		transform: rotate( -360deg );
	}
}
		  

@keyframes rotateIn {
	from {
	  transform: rotate( 0deg ) scale(0);
	  opacity: 0;
	}
	to {
	  transform: rotate( 360deg ) scale(1);
	  opacity: 1;
	}
}
  